<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>skullkeeper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.8/semantic.css">
    <link rel="icon" type="image/png" href="#">
  </head>
  <body>

    <div class="ui top attached menu">
      <div class="ui item">
        <a class="ui header" href="#"><i class="crow icon"></i> Skullkeeper</a>
      </div>
      <div class="right menu">
        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search..." />
            <i class="search link icon"></i>
          </div>
        </div>
        <div class="ui item">
          <img
            class="ui avatar image"
            th:src="'https://avatars.dicebear.com/api/open-peeps/' + ${user} + '.svg'" />
          <span th:text="${user}"></span>
        </div>
      </div>
    </div>

    <br />

    <div class="ui container">
      <br />
      <br />
      <br />



      <div class="ui feed">

        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/xsdd.svg" />
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">Master crow 🐦</a>
              <div class="meta"> @seiferson</div>
              <div class="date">1h</div>
            </div>
            <div class="extra text">
              Ours is a life of constant reruns 🐦. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
            </div>
            <div class="meta">
              <a class="like"><i class="like red icon"></i> 11</a>
              <a><i class="comment icon"></i> 4</a>
              <a><i class="share icon"></i> 0</a>
              <a><i class="bookmark outline icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/xsdytd.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">Matt</a>
              <div class="meta">@alphakiller</div>
              <div class="date">3d</div>
            </div>
            <div class="extra text">
              I love chocolate <a>@seiferson</a>
            </div>
            <div class="meta">
              <a class="like"><i class="like outline icon"></i> 8</a>
              <a><i class="comment icon"></i> 2</a>
              <a><i class="share icon"></i> 0</a>
              <a><i class="bookmark icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/trfedesw.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">Showdown flower</a>
              <div class="meta">@susi432</div>
              <div class="date">1d</div>
            </div>
            <div class="extra text">
              All of us need to make an effort to change the current status of the planet <a>#globalwarming</a>
            </div>
            <div class="meta">
              <a class="like"><i class="like red icon"></i> 3</a>
              <a><i class="comment icon"></i> 10</a>
              <a><i class="share icon"></i> 7</a>
              <a><i class="bookmark outline icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>



        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/tresdex.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">ninja</a> <i class="blue shield icon"></i>
              <div class="meta">@ninja2</div>
              <div class="date">3d</div>
            </div>
            <div class="extra text">
              Not having a great day today
            </div>
            <div class="meta">
              <a class="like"><i class="like outline icon"></i> 10.0K</a>
              <a><i class="comment icon"></i> 675</a>
              <a><i class="share icon"></i> 1.6K</a>
              <a><i class="bookmark icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/trfedesw.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">Showdown flower</a>
              <div class="meta">@susi432</div>
              <div class="date">3w</div>
            </div>
            <div class="extra text">
              🙌 Now we are talking
            </div>
            <div class="ui compact segment">
              <div class="ui feed">
                <div class="event">
                  <div class="content">
                    <div class="summary">
                      <a class="user">Master crow</a>
                      <div class="meta">@seiferson</div>
                      <div class="date">5w</div>
                    </div>
                    <div class="extra text">
                      This year we are stopping <a>#globalwarming</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="meta">
              <a class="like"><i class="like red icon"></i> 8</a>
              <a><i class="comment icon"></i> 10</a>
              <a><i class="share icon"></i> 0</a>
              <a><i class="bookmark outline icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>

        <div class="event">
          <div class="label">
            <img src="https://avatars.dicebear.com/api/open-peeps/tresdex.svg">
          </div>
          <div class="content">
            <div class="summary">
              <a class="user">ninja</a> <i class="blue shield icon"></i>
              <div class="meta">@ninja 2</div>
              <div class="date">3d</div>
            </div>
            <div class="extra text">
              Is the earth flat?
            </div>
            <div class="meta">
              <a class="like"><i class="like outline icon"></i> 1.7M</a>
              <a><i class="comment icon"></i> 275.4K</a>
              <a><i class="share icon"></i> 67.8K</a>
              <a><i class="bookmark outline icon"></i></a>
              <a><i class="share alternate icon"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="ui vertical segment">
      <div class="ui horizontal divider"><i class="crow icon"></i> skullkeeper</div>
      <div class="ui container">
        <div class="ten wide column">
          <span class="ui inverted text">Information about this project</span>
          <br />
          <br />
          <div class="ui labels">
            <a class="ui label" href="https://github.com/seiferson/skullkeeper">
              <i class="github icon"></i>github
            </a>
            <a class="ui label" href="https://github.com/seiferson/skullkeeper/issues">
              <i class="bug icon"></i>issues
            </a>
            <div class="ui label">
              <i class="google icon"></i>seifer.ch@gmail.com
            </div>
            <a class="ui  label" href="https://twitter.com/Seiferson">
              <i class="twitter icon"></i>@Seiferson
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>